In [86]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [87]:
df = pd.read_csv('synthetic_auction_training_data_with_market_value.csv')

df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [88]:
df

,team,format,gender,no.,name,first,last,mat,runs,hs,...,balls,wkt,bbi,ave,5wi,ca,st,performance_score,normalized_score,current_market_value
0,afghanistan,odi,male,01,asghar_afghan‡,2009,2021,114.0,0.0,101,...,139,3.0,1/1,30.33,0,24.0,0.0,27.813,0.006816,1.129513e+06
1,afghanistan,odi,male,02,dawlat_ahmadzai,2009,2010,3.0,0.0,0,...,112,1.0,1/40,121.00,0,0.0,0.0,-11.300,0.001970,1.037432e+06
2,afghanistan,odi,male,03,hamid_hassan,2009,2019,38.0,107.0,17,...,"1,734",59.0,5/45,22.54,1,5.0,0.0,50.832,0.009669,1.183705e+06
3,afghanistan,odi,male,04,hasti_gul,2009,2009,2.0,23.0,23*,...,114,3.0,2/48,24.33,0,0.0,0.0,5.467,0.004048,1.076906e+06
4,afghanistan,odi,male,05,karim_sadiq‡†,2009,2016,24.0,475.0,114*,...,320,6.0,2/10,33.50,0,6.0,0.0,150.400,0.022006,1.418111e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31388,west_indies,test,female,25,geneille_greaves,2004,2004,1.0,2.0,0,...,0,21.5,24,0.00,0,0.0,0.0,16.100,0.005365,1.101938e+06
31389,west_indies,test,female,26,juliana_nero,2004,2004,1.0,2.0,0,...,0,16.5,12,0.00,0,0.0,0.0,13.900,0.005093,1.096759e+06
31390,west_indies,test,female,27,stephanie_power ‡,2004,2004,1.0,2.0,0,...,1,38.0,0,0.00,0,0.0,0.0,29.300,0.007001,1.133014e+06
31391,west_indies,test,female,28,jacqueline_robinson,2004,2004,1.0,2.0,0,...,1,32.5,162,0.00,0,0.0,0.0,26.000,0.006592,1.125245e+06
31392,west_indies,test,female,29,envis_williams,2004,2004,1.0,2.0,0,...,0,12.0,168,2.00,1/8,0.0,25.5,10.375,0.004656,1.088460e+06

In [89]:
numeric_columns = ['runs', 'mat', 'hs', 'avg', '50', '100', 'balls', 'wkt', 'bbi', 'ave', '5wi', 'ca', 'st']

for col in numeric_columns:
    df[col] = df[col].astype(str).str.replace(',', '').str.strip()
    df[col] = pd.to_numeric(df[col], errors='coerce')
df = df.dropna(subset=numeric_columns)
print(df.dtypes)

team                     object
format                   object
gender                   object
no.                      object
name                     object
first                    object
last                     object
mat                     float64
runs                    float64
hs                      float64
avg                     float64
50                      float64
100                     float64
balls                   float64
wkt                     float64
bbi                     float64
ave                     float64
5wi                     float64
ca                      float64
st                      float64
performance_score       float64
normalized_score        float64
current_market_value    float64
dtype: object

In [90]:
df=df.drop(["name","team","gender","format","first","last"], axis=1)
X = df.drop("current_market_value", axis=1)
y = df["current_market_value"]

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)
rfr = RandomForestRegressor(n_estimators=100, random_state = 0)

In [92]:
rfr.fit(X_train, y_train)
rfr.score(X_train, y_train)

0.9999281736554119

In [93]:
y_pred = rfr.predict(X_test)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("R2 score:", r2)
print("RMSE:", rmse)

R2 score: 0.9998710031726117
RMSE: 10724.094042023948